fastapi
uvicorn[standard]
pydantic>=2
pydantic-settings
sqlalchemy>=2.0
psycopg[binary]
alembic
Mako
redis
celery
python-jose[cryptography]
httpx
aiohttp
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
prometheus-client
python-json-logger
pyjwt